
<mat-toolbar color="primary" class="header-toolbar" >
  <div class="header">
  <mat-icon (click)="onToggleDrawer()">menu</mat-icon>
</div>
  <span class="spacer"></span>

  <!-- Search bar -->
  <div appearance="outline" class="search-bar" >
    
    <!-- <input matInput (keyup)="onSearch($event.target.value)" placeholder="Search..."> -->
    <input #searchInput matInput (keyup)="onSearch(searchInput.value)" placeholder="Search...">
    

    
  </div>
  <button mat-icon-button matSuffix>
    <mat-icon>search</mat-icon>
  </button>
  <!-- Profile Dropdown -->



</mat-toolbar>
